@charset "utf-8";

@media screen and (min-width: 769px){
    /************************************************** common **************************************************/
    body {
        display: grid;
        font-family: sans-serif;
        grid-template-rows: 60px auto;
        grid-template-columns: repeat(1000, 1fr);
    }

    a {
        text-decoration: none;
    }

    .fixed {
        height: 100%;
        position: fixed;
        width: 100%;
    }

    .flex-direction-row {
        display: flex;
        flex-direction: row;
    }

    .flex-direction-column {
        display: flex;
        flex-direction: column;
    }

    .message-box {
        background:rgba(255, 255, 255, .9);
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 101;
    }

    .message-box__window {
        background: ghostwhite;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        /* -webkit-transform: translateY(-50%) translateX(-50%); */
        padding: 50px;

    }

    .message-box__content {
        text-align: center;
    }

    .message-box__send-links {
        justify-content: space-around;
        width: 400px;
    }

    .button {
        background: #180614;
        border: 2px solid transparent;
        color: ghostwhite;
        display: inline-block;
        min-width: 120px;
        text-align: center;
    }

    .button.button--enabled {
        border-radius : 2em;
        cursor: pointer;
        font-size: 18px;
        line-height: 1em;
        padding: 12px 30px;
        transition: .3s;
    }

    .button.button--enabled:hover {
        border: 2px solid #180614;
        background: ghostwhite;
        color: #180614;
    }

    .button.button--disabled {
        border-radius : 2em;             /*  */
        cursor: default;                /* カーソル   */
        font-size: 18px;                /* 文字サイズ */
        line-height: 1em;               /* 1行の高さ  */
        opacity: .2;
        padding: 12px 30px;             /* 余白       */
        transition: .3s;
    }


    .button.button--warning {
        background-color: #CB1B45;
        border: 2px solid #CB1B45;
        color: ghostwhite;
    }

    .button--enabled.button--warning:hover {
        background-color: #00AA90;
        border: 2px solid #00AA90;
        color: ghostwhite;
    }

    .align-left {
        margin-left: 2vw;
    }

    .border-top-none {
        border-top: none !important;
    }

    .margin-top-10px {
        margin-top: 10px !important;
    }

    .margin-top-20px {
        margin-top: 20px !important;
    }

    .margin-top-50px {
        margin-top: 50px !important;
    }

    .margin-top-100px {
        margin-top: 100px !important;
    }

    /* message */
    .message {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .message--display {
        background-color: limegreen;
        color: ghostwhite;
        font-size: large;
        height: 60px;
        left: 0;
        opacity: .9;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 101;
    }

    .message__text {
        padding: 16px 15px;
    }

    .input-wrapper {
        background-color: #fff;
        border: 1px solid gray;
        width: 30vw;
        height: 48px;
    }

    .input-wrapper__label {
        align-self: center;
        cursor: text;
        flex-grow: 1;
    }

    .input-wrapper__input {
        border: none;
        font-size: 18px;
        height: 36px;
        padding: 0 3%;
        width: 94%;
    }

    .input-wrapper__input:focus {
        outline: none;
    }

    .password-input {
        flex-grow: 2;
        margin-right: 0;
    }

    .password-toggle-icon {
        align-self: center;
        cursor: pointer;
        margin-right: 3%;
        text-align: center;
        width: 30px;
    }

    .password-toggle-icon:hover {
        opacity: .5;
    }

    /************************************************** header **************************************************/
    .header {
        background-color: #180614;
        grid-row: 1/2;
        grid-column: 1/1000;
        height: 60px;
        position: fixed;
        width: 100vw;
        z-index: 100;
    }

    .header:link,
    .header:visited {
        color: ghostwhite;
    }

    .header__logo {
        color: ghostwhite;
        margin: 20px auto auto 5vw;
        width: 20vw;
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        margin: 20px 5vw auto;
        width: max-content;
    }

    .header__link {
        color: ghostwhite;
        margin-left: 2vw;
    }

    /************************************************** main **************************************************/
    .main {
        grid-row: 2/3;
        min-height: 800px;
    }

    .main--has-right-sidebar {
        grid-column: 1/724;
    }

    .main--has-left-sidebar {
        grid-column: 277/1000;
    }

    .main--no-sidebar {
        grid-column: 1/1000;
    }

    .datetime {
        justify-content: flex-end;
    }

    .datetime__text:not(:first-of-type) {
        margin-left: 50px;
    }

    .settings__label {
        align-items: center;
    }

    .settings__back {
        border-radius: 50%;
        cursor: pointer;
        font-size: 24px;
        height: 50px;
        margin: 0 5px 0 -10px;
        line-height: 50px;
        position: relative;
        text-align: center;
        width: 50px;
    }

    .settings__back:hover {
        background-color: darkgray;
        transition: .4s;
    }

    .settings__title {
        margin-left: 20px;
    }

    .settings__input-wrapper {
        border: 1px solid gray;
        font-size: 24px;
        height: 56px;
        margin-right: 10vw;
        width: auto;
    }

    .settings__text {
        font-size: 24px;
    }

    .settings__warning-message {
        color: red;
        display: none;
    }

    .settings__button {
        align-self: flex-end;
        margin-right: 10vw;
    }

    .error-message {
        color: #ff0000;
        text-align: center;
    }

    /************************************************** sidebar **************************************************/
    .sidebar {
        background-color: ghostwhite;
        grid-row: 2/3;
    }

    .right-sidebar {
        grid-column: 725/1000;
    }

    .left-sidebar {
        grid-column: 1/276;
    }

    .right-sidebar__inner {
        margin: 50px auto 0 1vw;
        width: 24vw;
    }

    .left-sidebar__inner {
        width: 100%;
        margin: 0;
    }

    .sidebar__search {
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-right: 50px;
        width: 20vw;
    }

    .sidebar__tags {
        align-content: space-around;
        align-items: baseline;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sidebar__tags-item {
        background-color: #180614;
        border-radius: 2em;
        color: ghostwhite;
        display: inline-block;
        font-size: 14px;
        margin: 10px 10px 0 0;
        padding: 0.3em 1em;
    }

    .search__input {
        width: 16vw;
        height: 32px;
        font-size: 16px;
    }

    .search__button {
        cursor: pointer;
        font-size: 18px;
    }

    .settings-list {
        border: 1px solid gray;
        border-top: none;
    }

    .settings-list__link {
        align-items: center;
        border-bottom: 1px solid gray;
        border-collapse: collapse;
        cursor: pointer;
        justify-content: space-between;
    }

    .settings-list__link:last-of-type {
        border-bottom: none;
    }

    .settings-list__link +
    .settings-list__link {
        border-top: none;
    }

    .settings-list__item {
        margin: 10px auto 10px 2vw;
    }

    .settings-list__label,
    .settings-list__content {
        height: 8px;
        line-height: 16px;
    }

    .settings-list__label {
        font-size: 14px;
    }

    .settings-list__content {
        font-size: 14px;
        color: gray;
    }

    .settings-list__arrow {
        margin-right: 2vw;
    }

    /************************************************** footer **************************************************/
    .footer {
        /* background-color: darkgray; */
        grid-column: 1/1000;
        grid-row: 3/4;
    }

    .footer__copyright {
        display: inline-block;
        width: 90vw;
        height: auto;
        margin: 20px auto;
        text-align: center;
    }

    /* index */
    .search-result-message {
        display: inline-block;
        font-size: 18px;
        margin: 50px auto 0 auto;
        text-align: center;
        width: 52vw;
    }

    .main__posts {
        width: 64vw;
        margin: 0 auto;
    }

    .posts {
        background-color: ghostwhite;
        border-radius: 12px;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
    }

    .posts:first-of-type {
        margin: 50px auto 0 auto;
    }

    .posts:not(:first-of-type) {
        margin-top: 100px;
    }

    .posts__content {
        position: relative;
        margin: 30px 3vw;
    }

    .posts__nav {
        align-self: flex-end;
        position: absolute;
    }

    .posts-nav {
        cursor: pointer;
    }

    .posts-nav__menu {
        align-items: baseline;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
        display: none;
        flex-direction: column;
        height: max-content;
        position: absolute;
        top: 20px;
        right: 0;
        width: 80px;
        z-index: 2;
    }

    .posts-nav__link {
        align-items: baseline;
        color: #282A14;
        height: max-content;
        justify-content: flex-end;
        margin: 0;
        padding: 10px;
        width: 60px;
    }

    .posts-nav__link:hover {
        background-color: lightgray;
    }

    .posts-nav__link:first-child {
        margin-top: 10px;
    }

    .posts-nav__link:last-child {
        margin-bottom: 10px;
    }

    .posts-nav__link-text {
        margin-left: 10px;
    }

    .posts__message {
        display: block;
        margin: 50px auto 0 auto;
        width: max-content;
    }

    .posts__title {
        font-family: sans-serif;
        font-feature-settings: "palt" 1;
        font-size: 2.0em;
        overflow-wrap: break-word;
    }

    .posts__tags {
        align-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .tags__link {
        background-color: #180614;
        border-radius: 2em;
        color: ghostwhite;
        display: block;
        margin: 10px 10px 0 0;
        padding: 0.3em 1em;
        /* margin: 2px 4px; */
    }

    .posts__text {
        font-feature-settings: "palt" 1;
        font-size: 18px;
        margin-top: 50px;
        word-wrap: break-word;
    }

    .posts__text--post {
        margin-bottom: 66px;
    }

    .posts__button-wrapper {
        justify-content: space-around;
        margin-top: 50px;
    }

    .posts__button {
        margin: 50px 0 auto auto;
    }

    .main__paginator {
        margin-top: 100px;
    }

    .paginator__nav {
        justify-content: center;
    }

    .pagenator__link,
    .pagenator__link_current {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 0 5px;
    }

    .pagenator__link {
        color: darkgray;
        border-radius: 50%;
    }

    .pagenator__link:hover {
        color: #180614;
        background-color: darkgray;
        transition: .4s;
    }

    .pagenator__link_current {
        background-color: #180614;
        color: ghostwhite;
        border-radius: 50%;
    }

    /* new, edit */
    .main__wysiwyg {
        margin: 50px auto 0 auto;
        width: 64vw;
    }

    .wysiwyg {
        background-color: ghostwhite;
        border-radius: 5px;
    }

    .wysiwyg__form {
        margin: 0 auto;
        padding: 20px 0;
        width: 60vw;
    }

    .wysiwyg__title,
    .wysiwyg__tags {
        /* width: 52vw; */
        height: 36px;
        font-size:16px;
    }

    .wysiwyg__button {
        align-self: flex-start;
    }

    .image-uploader__file {
        display: none;
    }

    /* https://copypet.jp/417/ */
    .image-uploader__button {
        border-radius: 3px;
        font-size: 18px;
        height: 80px;
        margin-left: 1vw;
        padding: 0;
        transition: .3s;
        width: 200px;
    }

    .image-uploader__button:hover {
        background: ghostwhite;
        border: 2px solid #180614;
        color: #180614;
        cursor: pointer;
    }

    .image-selection {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
    }

    /* https://memo.abridge-lab.com/?p=274 */
    .image-selection__items {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: ghostwhite;
        border: 1px solid #180614;
        border-radius: 0;
        color: #180614;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        padding: 0 30px 0 8px;
        position: relative;
        width: 100%;
        z-index: 0;
        cursor: pointer;
    }

    .image-selection__items::-ms-expand {
        display: none;
    }

    .image-selection__year,
    .image-selection__month {
    display: block;
    position: relative;
    width: 100px;
    }

    .image-selection__year::before,
    .image-selection__month::before {
        border-style: solid;
        border-width: 10px 8px 0 8px;
        border-color: #180614 transparent transparent transparent;
        content: '';
        height: 0;
        padding: 0;
        position: absolute;
        pointer-events: none;
        right: 8px;
        top: 14px;
        width: 0;
        z-index: 1;
    }
    /* https://memo.abridge-lab.com/?p=274 */

    .image-selection__option {
        height: 50px;
    }

    .uploaded-images {
        cursor: pointer;
        flex-wrap: wrap;
        height: auto;
        justify-content: flex-start;
        margin-top: 20px;
        width: 340px;
    }

    .uploaded-images__item,
    .uploaded-images__img-wrapper {
        border-radius: 5px;
        display: block;
        height: 80px;
        position: relative;
        width: 80px;
    }

    .uploaded-images__item {
        border: 4px solid transparent;
        margin: 10px;
        position: relative;
        transition: .8s;
    }

    .uploaded-images__img {
        border-radius: 2px;
        height: auto;
        left: 50%;
        max-width: 80px;
        max-height: 80px;
        object-fit: contain;
        position: absolute;
        transform : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        top: 50%;
    }

    .uploaded-images__img-warpper--selection {
        border: 4px solid limegreen;
    }

    .uploaded-images__delete {
        background-color: rgba(105, 105, 105, .8);
        border-radius: 5px;
        color: white;
        display: none;
        left: 62%;
        padding: 1px 6px;
        position: absolute;
        top: 62%;
    }

    [id='post-form'] {
        display: none;
        height: 50vw;
    }

    .trumbowyg-editor,
    .trumbowyg {
        background-color: white;
        min-width: 550px;
    }

    /* login */
    .unlogged-user-form-div {
        width: 80vw;
        margin: 50px auto;
    }

    .unlogged-user-form-title {
        text-align: center;
    }

    .unlogged-user-form {
        align-items: center;
    }
}
